/* Slideshow container */
.slideshow{max-width: 100%;}

.slideshow .image{
    display: none;
    max-height: 400px;
    margin: auto;
}

/* Next & previous buttons */
.previous, .previous:hover,
.next, .next:hover {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Position the next button to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the previous button to the left */
.previous{ left: 0;}
