div.field.has-animated-label {position:relative;}

input.has-animated-label {
    padding: 25px 12px 6px 40px !important;
    height: 45px !important;
    border:none !important;
    box-shadow: none !important;
    border-bottom: solid 1px #dedede !important;
}

label.is-animated {
    cursor: text;  /* Display the same cursor than input */
    color: #909090;
    position: absolute;
    top: 7px;
    left: 40px;
    font-weight: 300 !important;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

/* Display as upper label when input is focused or when input isn't empty (so when the placeholder isn't shown) */
input:focus + label.is-animated, input.has-animated-label:not(:placeholder-shown) + label.is-animated {
    color: #51A2DA;
    font-weight: 700 !important;
    font-size: 12px;
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
}
