/* Disable text selection */
.label, .navbar-item, .no-select {
  -webkit-touch-callout: none;  /* iOS Safari */
    -webkit-user-select: none;  /* Safari */
     -khtml-user-select: none;  /* Konqueror HTML */
       -moz-user-select: none;  /* Old versions of Firefox */
        -ms-user-select: none;  /* Internet Explorer/Edge */
            user-select: none;  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.width-fit-content {
    width: -moz-fit-content;  /* Firefox */
         width: fit-content;  /* Non-prefixed version, currently supported by Chrome */
}

/* Styling icons in buttons */
.button .icon:first-child:last-child {
    margin-right: 0;
}


/* Styling links */
.link{
    cursor: pointer;  /* Default links cursor */
    background: linear-gradient(180deg, #e47312, #e47312) no-repeat 0 1.5rem;  /* Underline in primary orange color */
    transition: background-position-y .20s ease-out;  /* Transition to cover the whole background when link is hovered */
    font-weight: 650 !important;
}

.link:hover {background-position-y: 0;}
