@charset "utf-8";


// Update Bulma's global variables


// Navbar
$navbar-item-img-max-height: 3rem;

// Colors
$primary: #e47312;  // Primary color in orange
$link: #8cba51;  // Links in green
$success: #8cba51;  // Green
$danger: #DC310B;

// Inputs
$input-focus-border-color: transparent;  // No border
$input-focus-box-shadow-color: rgba(0, 0, 0, 0.25);  // Grey box-shadow when input is focused
$input-placeholder-color: #909090;  // Shade of grey for placeholders

// Images
$dimensions: 16 24 32 48 64 96 128 150;  // Adding a 150x150 dimension for images

// Footer
$footer-padding: 0;
$footer-background-color: #f3f3f3;  // Shade of grey



// Import only what you need from Bulma

// Mandatory imports
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";

// Full imports
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";

// Components
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";

// Elements
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/title.sass";

// Layout
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";

// Importing extensions
@import '../node_modules/bulma-checkradio/src/sass/index.sass';
@import '../node_modules/bulma-switch/src/sass/index.sass';
@import '../node_modules/bulma-steps/src/sass/index.sass';

// Importing fonts
@import url('https://fonts.googleapis.com/css?family=Changa+One&display=swap');
